@using _5_08HW.Data
@model IEnumerable<Jokes>


@foreach (Jokes j in Model)
{

    <div class="well col-md-9 jokeInfo" style="margin-top:40px;">
        <p>Joke: @j.OriginId</p>
        <p>@j.Setup</p>
        <p>@j.Punchline</p>
       <p>@j.UsersLiked.Count</p>
    </div>
}